body{
  background-color: #F5F5F5;
}

h1{
    color: #333;
    background-color: #e4e4e4;
    font-family: 'Montserrat';
    font-weight: 600;
    text-align: center;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    margin-top: 1em;
    padding-top:.5em;
    padding-bottom:.5em;

}

h3 {
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 50px;

}

p{
    font-family: 'Montserrat';
    font-weight: 400;
}

text{
    font-family: 'Montserrat';
    font-weight: 400;
}

button{
    background-color:#e4e4e4;
    color: #333;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    box-shadow: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
      border: 1px solid #ccc;
      margin-bottom: 10px;
}

button:hover{
    background-color:#333;
    color: #f5f5f5;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
    box-shadow: none;
    border-style: none;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: .5em;
    padding-bottom: .5em;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
    border: 1px solid #333;
}

button:active{
    background-color:#333;
    color: #ffff00;
    font-family: 'Montserrat';
    font-size: 14px;
    text-decoration: none;
    box-shadow: none;
    border-style: none;
    -webkit-transition: ease-out 0.2s;
    -moz-transition: ease-out 0.2s;
    transition: ease-out 0.2s;
}

button#selectAll{
  width:150px;
}
button#deselectAll{
  width:150px;
}

#bar-chart-1, #bar-chart-2 {
    display: inline-block;
    float: left;
    background-color: white;
    box-shadow: 0px 0px 2px #888888;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}

#bar-chart-2 {
    float: left;
}

#scatterplot{
  background-color: white;
  box-shadow: 0px 0px 2px #888888;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  width: 900px;
}

#chart-container{
  width: 800px;
  margin-left:auto;
  margin-right:auto;
  display: block;
  background-color: white;
  box-shadow: 0px 0px 2px grey;
  padding-left: 10px;
  padding-right: 10px;
}

#line-chart-1, #line-chart-2{
  background-color: white;
  box-shadow: 0px 0px 2px #888888;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
}

#chart-container-2 {
    max-width: 1050px;
}

div{
  font-family: 'Montserrat';
  font-weight: 400;
}

rect {
/*    fill: #7d8fc3;*/
    cursor: pointer;
}

g .highlight {
/*    fill: #8a9ed9;*/
    stroke: #7d8fc3;
}

.boxlegend {
    position: relative;
    display: inline-block;
    width: 200px;
    float: left;
}

.boxwhole, .wholecontainer {
    width: 100%;
    display: inline-block;
    float: left;
}

.boxwhole div {
    display: inline-block;
    float: left;
}

.focus {
}

.hover-line {
    stroke: #6F257F;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
}

.line {
    fill: none;
/*    stroke: steelblue;*/
    stroke-width: 2px;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 90%;
    }

.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }

.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }

.my-legend ul.legend-labels li {
    cursor: pointer;
}

.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }

.my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }

.my-legend a {
    color: #777;
}

.tooltip {
    min-width: 170px;
    min-height: 2em;
    background-color: white;
    box-shadow: 0px 0px 2px #888888;
    padding-left: 1em;
    padding-right: 1em;
    position: absolute;
    pointer-events: none;
    z-index: 1;
    overflow: hidden;
}

/* Animated Side Legend */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right:0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    color: white;
    top: 0;
    right: 5px;
    font-size: 36px;
    margin-left: 50px;
}

.sidenav ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    color:white;
    }

.sidenav ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
	  white-space: nowrap;
    }

.sidenav ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 16px;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-left: 10px;

    }

h4#legendtitle{
    color:white;
    position: absolute;
    left:10px;
    top:0;
    font-size: 16px;
    font-weight: 500;
    display:block;
    white-space: nowrap;
}


@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

span#legendlogo{
    position:fixed;
    top:50%;
    right:0px;
    font-family: 'Montserrat';
    font-weight: 400;
    transform: rotate(270deg);
    margin-bottom:0;
    padding-bottom:0;
    font:
    color:#333;
    background-color:#e4e4e4;
    padding: .5em;
}
